In [2]:
import pandas as pd 
schoolsdf = pd.read_csv("schools_complete.csv")
studentsdf = pd.read_csv("students_complete.csv")
#setting up combined data frame
schooldata = pd.merge(studentsdf, schoolsdf, how="left", on=["school_name", "school_name"])
schooldata.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#calculate the total # of unique schools 
schoolcount = schooldata["school_name"].unique()
len(schoolcount)

15

In [4]:
#calculate the total # of students 
studentcount = schooldata["Student ID"].count()
studentcount

39170

In [5]:
#calculate the total budget 
budgetamount = schooldata["budget"].unique()
budgetamount.sum()

24649428

In [6]:
#calculate average math scores 
avgmath = schooldata["math_score"].mean()
avgmath

78.98537145774827

In [7]:
#calculate average reading scores
avgreading = schooldata["reading_score"].mean()
avgreading

81.87784018381414

In [8]:
#calculate the percent of students passing math 
passingmathcount = schooldata[(schooldata["math_score"]>= 70)].count()["student_name"]
percentpassing_m = passingmathcount / float(studentcount) * 100
percentpassing_m

74.9808526933878

In [9]:
#calculate the percent of students passing reading
passingreadingcount = schooldata[(schooldata["reading_score"]>= 70)].count()["student_name"]
percentpassing_r = passingreadingcount / float(studentcount) * 100
percentpassing_r

85.80546336482001

In [10]:
#calculating the students that passed math and reading 
passingbothcount = schooldata[(schooldata["math_score"] >= 70) & (schooldata["reading_score"] >= 70)].count()["student_name"]
overallpassingboth = passingbothcount / float(studentcount) * 100
overallpassingboth

65.17232575950983

In [11]:
#creating a "high level" snapshot of the data 
districtsummary = pd.DataFrame({"Total schools":len(schoolcount), "Total students": studentcount, "Total budget": budgetamount.sum(), "Average math score": avgmath, "Average reading score": avgreading, "Percent passing math": percentpassing_m, "Percent passing reading": percentpassing_r, "Math/Reading passing rate": overallpassingboth}, index=[0])
#districtsummary["Total Students"] = districtsummary["Total Students"].map("{:,}".format)
#districtsummary["Total Budget"] = districtsummary["Total Budget"].map("${:,.2f}".format)
districtsummary

,Total schools,Total students,Total budget,Average math score,Average reading score,Percent passing math,Percent passing reading,Math/Reading passing rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
# SCHOOL SUMMARY
schooltypes = schooldata.set_index(["school_name"])["type"]

In [13]:
#calculate the total student count
perschoolcount = schooldata.groupby(["school_name"]).count()["student_name"]
#perschoolcount

In [14]:
#calculate the total school budget and per capita spending 
perschoolbudget = schooldata.groupby(["school_name"]).mean()["budget"]
perschoolcapita = perschoolbudget / perschoolcount
#perschoolcapita

In [15]:
#calculate the averge test scores 
perschool_m = schooldata.groupby(["school_name"]).mean()["math_score"]
perschool_r = schooldata.groupby(["school_name"]).mean()["reading_score"]
#perschool_m
#perschool_r

In [50]:
#calculate the # of schools with passing math/reading scores
#schoolpassing_m = schooldata[(schooldata["math_score"]>=70)]
#schoolpassing_m
#schoolpassing_r = schooldata([schooldata]).count()["reading_score"]>=70
#schoolpassing_r.count()

In [17]:
#Total schools passing math and reading
schoolpassing_b = (schooldata.groupby(["school_name"]).count()["math_score"]>= 70) & (schooldata.groupby(["school_name"]).count()["reading_score"]>= 70)
#schoolpassing_b.count()

In [22]:
#calculating the passing rates 
#perschoolpassing_m = schoolpassing_m.groupby(["school_name"]).count()["student_name"] / perschoolcount * 100
#perschoolpassing_m
#perschoolpassing_r = schoolpassing_r.groupby(["school_name"]).count() / perschoolcount * 100

In [33]:
#perschoolsummary = pd.DataFrame({"Type": schooltypes, "Student Count": perschoolcount, "School budget": perschoolbudget, "Budget per student": perschoolcapita, "Average math score": perschool_m, "Average reading score": perschool_r}, index=[0])
#perschoolsummary.head

In [38]:
#sort the schools by over all passing %
#highestscoring = schooldata.sort_values((perpassing_m, perpassing_r), ascending=True)
#highestscoring.head(5)

In [39]:
#sort the schools by overall passing % in decending order 
#highestscoring = schooldata.sort_values((perpassing_m, perpassing_r), ascending=false)
#highestscoring.tail(5)

In [42]:
# Total grades per grade level 
ninth_graders=schooldata[(schooldata["grade"]=="9th")]
tenth_graders=schooldata[(schooldata["grade"]=="10th")]
eleventh_graders=schooldata[(schooldata["grade"]=="11th")]
twelfth_graders=schooldata[(schooldata["grade"]=="12th")]

In [ ]:
#group by schoolname
ninth_graders_scores=schooldata.groupby(["schooldata"]).mean()